@page
@model KE03_INTDEV_SE_1_Base.Pages.ProductPaginaModel
@{
    ViewData["Title"] = "Producten";
}
<div class="ProductenPaginaCompleet">

<div class="filterAfbeelding">
    <h4 class="FilterPoging">Categorie:</h4>
    <form methode="get"> 
    <div class="form-group">
            <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" name="categorie" value="1" @(Model.Categorie != null && Model.Categorie.Contains("1") ? "checked" : "") onchange="this.form.submit()">
                <label class="form-check-label" for="gridCheck">
                    Voertuigen
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="categorie" value="3" @(Model.Categorie != null && Model.Categorie.Contains("3") ? "checked" : "")  onchange="this.form.submit()">
                <label class="form-check-label" for="gridCheck">
                    Wapentuig
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="categorie" value="2" @(Model.Categorie != null && Model.Categorie.Contains("2") ? "checked" : "") onchange="this.form.submit()">
                <label class="form-check-label" for="gridCheck">
                    Meubels 
                </label>
            </div>
        </div>
    </form>
    </div>
<img class="filterAfbeelding" src="~/images/20260629_183207.jpg" alt="filter" />

<div class="producten">
@foreach (var i in Model.FilteredProducts)
{
    <div class="ProductCard">
    <h1>@Html.DisplayName(i.Name)</h1>
    <p class="price">@Html.DisplayName($"€{i.Price.ToString()}")</p>
    <p>@Html.DisplayName(i.Description)</p>
        <form method="post" asp-page-handler="AddToCart">
            <input type="hidden" name="productId" value="@i.Id" />
            <button type="submit">Add to cart</button>
        </form>
    </div>
}
</div>
</div>